body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
 width: 90vw;
 height: 100vh;
}

h1 {
    text-align: center;
}

.reset-btn {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: #00cfcf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comments-container {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

.comment {
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.comment strong {
    font-weight: bold;
}

.comment-buttons {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.comment-buttons button {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.comment-buttons button:hover {
    background-color: #bbb;
}

.reply-container {
    margin-left: 40px;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}

.reply-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.reply-form input,
.reply-form textarea {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.reply-form button {
    width: fit-content;
    padding: 5px 10px;
    background-color: #00cfcf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reply-form button.cancel {
    background-color: #ff5252;
}
